@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #756e6e;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  height: 600px;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.form {
  flex: 2;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__title {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.form__subtitle {
  font-size: 0.9rem;
  color: #bbb3b3;
  font-weight: 500;
}

.form__social-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form__social-links__button {
  background: none;
  padding: 20px 0;
  width: 100%;
  border: 2px solid black;
  border-color: #e7e7e7;
  border-radius: 3px;
  margin: 10px;
  font-family: "Roboto";
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #756e6e;
  cursor: pointer;
}

.form__social-links__button:hover {
  color: #000000;
  border-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.button__img {
  position: absolute;
  left: 15%;
}

.form__footer {
  display: flex;
  justify-content: space-between;
}

.form__footer__text {
  font-size: 0.8rem;
  font-weight: 500;
}

.form__footer_link {
  text-transform: uppercase;
  color: #bbb3b3;
  font-weight: 500;
  font-size: 0.8rem;
}

.form__footer_link:hover {
  color: #000000;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

.image {
  flex: 1;
  border-top-right-radius: 5px;
  border-end-end-radius: 5px;
}
